<div class="main">
  <div class="main-image">
    <img src="assets/mission.png">
  </div>
  <div class="main-mission">
    <p>"TO ENHANCE THE LIVES OF ENTREPRENEURS AND THE PEOPLE THEY SERVE. THROUGH THE APPLICATION OF BUSINESS BEST PRACTICES,
      WE ENABLE THE PEOPLE IN OUR LIVES TO ACCOMPLISH MORE COLLECTIVELY, THAN THEY COULD SEPARATELY."</p>
  </div>
  <div class="main-footer">
    <p> &#169; Copyright 2012-2018 LD-READIT.com LLC / all photos and articles are property of LD-READIT.com</p>
  </div>
</div>