<div class="login">
  <div class="login-div">
    <img src="assets/readit.png" routerLink="/home">
  </div>
  <form [formGroup]="form" (submit)="onLoginSubmit()">
    <div class="login-form-div">
      <div>
        <input type="text" class="login-form-div-input1" placeholder="Enter Name" name="username" formControlName="username" size="35">
      </div>
      <div>
        <input type="password" class="login-form-div-input2" placeholder="Enter Password" name="password" formControlName="password"
          size="35">
      </div>
    </div>
    <input [disabled]="!form.valid || processing" class="form-button" value="Login" type="submit">
  </form>
</div>