.login {
    display: grid;
    grid-template-rows: [logo]20vh[log-end form] 80vh[form-end];
}

.login-div {
    grid-row: logo/log-end;
    display: grid;
    justify-items: center;
    align-items: center;
    background: #1A1C18;
}

.login-div img {
    height: 15vh;
    width: 15vw;
}

.login-div img:hover {
    cursor: pointer;
}

form {
    background: #A23D3B;
    grid-row: form/form-end;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: auto [input]25vh[input-end button] 5vh[button-end] auto;
}

.login-form-div {
    grid-row: input/input-end;
    display: grid;
    grid-gap: 1vh;
    align-items: center;
    justify-items: center;
}

.form-button {
    grid-row: button/button-end;
}

.form-button {
    -moz-box-shadow: inset 0px 1px 3px 0px #91b8b3;
    -webkit-box-shadow: inset 0px 1px 3px 0px #91b8b3;
    box-shadow: inset 0px 1px 3px 0px #91b8b3;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
    background: -moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background: -webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background: -o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background: -ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c', GradientType=0);
    background-color: #768d87;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 76px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #2b665e;
}

.form-button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
    background: -moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background: -webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background: -o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background: -ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87', GradientType=0);
    background-color: #6c7c7c;
}

.form-button:active {
    position: relative;
    top: 1px;
}

input {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 10px 20px;
    border: 1px solid #b7b7b7;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 16px/normal "Lucida Console", Monaco, monospace;
    color: #A23D3B;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(252, 252, 252, 1);
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.66);
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

/* .login-form-div-input1, .login-form-div-input2 {
    border-color: #cccccc;
    padding: 11px;
    font-size: 26px;
    border-width: 6px;
    border-radius: 3px;
    border-style: groove;
    box-shadow: 0px 0px 5px 0px rgba(42, 42, 42, .75);
    font-style: none;
    font-family: monospace;
    font-weight: bold;
} */

.login-form-div-input1:focus, .login-form-div-input2:focus {
    outline: none;
}