<div class="main">
  <div class="main-div-team">
    <img src="assets/team.png" class="main-div-team-img">
  </div>
  <div class="main-div-one">
    <img src="assets/profiles/Adam-Armstrong.jpg">
    <p>Adam Armstrong</p>
  </div>
  <div class="main-div-two">
    <img src="assets/profiles/Dawson-Farmer.jpg">
    <p>Dawson Farmer</p>
  </div>
  <div class="main-div-three">
    <img src="assets/profiles/Irwin-Walters.jpg">
    <p>Irwin Walters</p>
  </div>
  <div class="main-div-four">
    <img src="assets/profiles/Shawn-Wilkins.jpg">
    <p>Shawn Wilkins</p>
  </div>
</div>